@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background-color: #e9f3fd;
	font-family: "Quicksand", sans-serif;
  	font-optical-sizing: auto;
	color: #273973;
	font-weight: 700;
	
}

h1 {text-align: center;}

#main_con {
	background-color: #fff;
	width: 100%;
	max-width: 600px;
	text-align: center;
	padding: 40px 40px 20px 40px;
	border-radius: 20px;
	margin: 0 auto;
	
}

#main_con h2 {
	font-size: 36px;
	font-weight: bold;
}

.mid_box_con {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mid_box_con img {width: 100%; max-width: 200px;}

.mid_box_con span {margin-top: 15px;}
.mid_box_con .vs {font-size: 30px;}

.btm_box_con {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}


.btm_box1 {
	background-color: #76bafe;
	width: 265px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 20px 0px 0px 20px;
	
}

.btm_box2 {
	background-color: #61aaf8;
	width: 265px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 0px 20px 20px 0px;
}


.score_label {font-size: 26px;}

.score_num {font-size: 35px}

.d_block {display: block;}

#choices {display: flex; justify-content: center; margin: 0 auto; width: 100%; max-width: 300px; margin-top: 25px; }

#choices button {width: 100%; max-width: 70px; text-align: center; display: flex; flex-direction: column; text-align: center; justify-content: center; align-items: center;}

#choices button img {width: 100%; max-width: 150px; margin: 0 auto;}

#play {margin: 0 auto; display: block; margin-top: 20px;}

.d_none {display: none !important;}